<%= search_form_for @q, url: url do |f| %>
  <div class="input-group mb-3">
    <%= f.search_field :title_or_body_cont, class: "form-control", placeholder: t('defaults.search_word') %>

    <%= f.label :created_at_gteq %>
    <%= f.text_field :created_at_gteq %>
    <%= f.label :created_at_lteq_end_of_day %>
    <%= f.text_field :created_at_lteq_end_of_day %>

    <div class="input-group-append">
      <%= f.submit '検索', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>